main .portada {
  grid-area: portada;
  display: flex;
  flex-direction: column;
  background-image: url("../recursos/extintores_portada.jpg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center; }
  main .portada .titulo {
    font-family: "Bebas Neue", cursive;
    font-weight: bolder;
    font-style: italic;
    color: yellow; }

main .conozcanosdivtitulo {
  color: white; }

main .tarjetas {
  background-color: white;
  color: black;
  font-style: none; }

header nav a {
  font-family: "Bebas Neue", cursive;
  color: yellow; }

header navlink {
  color: yellow; }

* {
  margin: 0px;
  padding: 0px;
  font-size: 16px; }

body {
  background-color: black;
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
  font-style: italic;
  color: white; }

.button {
  background-image: linear-gradient(to top, gray, white);
  border: white;
  color: black;
  border-radius: 15%; }
  .button:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to top, white, lightblue);
    color: black;
    border: lightblue; }

.grid formulario {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin-top: 2%;
  margin-bottom: 2%; }

.grid text-area {
  display: grid;
  grid-template-columns: 50% 50%; }
