@charset "UTF-8";
/* las operaciones sumas,restas,mult. y división, sólo se hacen con variables/*
/* pueden ser: colores, letras y tamaños */
/* width=ancho height=alto */
main .tarjetas {
  border-radius: 50%; }

header .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

header .navbar-nav .nav-item {
  color: yellow; }
  header .navbar-nav .nav-item .nav-link {
    color: yellow;
    font-size: 1.5rem; }
    header .navbar-nav .nav-item .nav-link:hover {
      color: yellow; }

.button {
  color: black;
  border-radius: 15%; }
  .button:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to top, white, lightblue);
    color: black;
    border: lightblue; }

.portada {
  grid-area: portada;
  display: flex;
  flex-direction: column;
  background-image: url("../recursos/extintores_portada.jpg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center; }
  .portada .titulo {
    font-family: "Bebas Neue", cursive;
    font-weight: bolder;
    font-style: italic;
    color: yellow; }

* {
  margin: 0px;
  padding: 0px;
  font-size: 16px; }

body {
  background-color: black;
  font-family: "Bebas Neue", cursive; }
  body p {
    font-size: 150%;
    font-weight: normal;
    color: white; }
  body ul li {
    font-size: 150%;
    font-weight: normal;
    color: white; }

h1 {
  font-size: 5rem;
  color: yellow; }

h2 {
  font-size: 4rem;
  color: yellow; }

h3 {
  font-size: 3rem;
  color: yellow; }

h4 {
  font-size: 2rem;
  color: yellow; }

.clases-a {
  background-color: #34E92B;
  color: #FFFFFF;
  font-size: 3rem;
  font-style: 'Bebas Neue', cursive;
  align-items: center; }

.clases-b {
  background-color: #DC0404;
  color: #FFFFFF;
  font-size: 3rem;
  font-style: 'Bebas Neue', cursive;
  align-items: center; }

.clases-c {
  background-color: #3119FA;
  color: #FFFFFF;
  font-size: 3rem;
  font-style: 'Bebas Neue', cursive;
  align-items: center; }
