@import 'variables';
@import 'main';
@import 'header';
@import 'footer';

* { 
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

body{
    background-color: black;
    font-family: $font-principal;
    font-weight: bolder;
    font-style: italic;
    color: white;
    }


.button{
    background-image: linear-gradient(to top, gray,white);
    border: white;
    color: black;
    border-radius: 15%;
    &:hover{
        transform: scale(1.1);
        background-image: linear-gradient(to top, white, lightblue);
        color: black;
        border: lightblue;
    }
    
}


.grid {
    formulario {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    text-area {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}




