@import 'variables';
@import 'main';
@import 'header';
@import 'footer';

* { 
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.titulo{
    font-family: $font-titulo;
    font-weight: bolder;
    font-style: italic;
    color: $color-titulo;
    }

.tarjetas{
    background-color: $color-tarjetas;
    background-image: linear-gradient(18deg, #D9AFD9 0%, #97D9E1 33%, #ffffff 100%);

}

.button{
    background-image: linear-gradient(to top, gray,white);
    border: white;
    color: black;
    border-radius: 15%;
    &:hover{
        transform: scale(1.1);
        background-image: linear-gradient(to top, white, lightblue);
        color: black;
        border: lightblue;
    }
    
}


.grid {
    formulario {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    text-area {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.h2{
    fuente{
        font-size: 15%;
    }
    
}