@import 'variables';
@import 'main';
@import 'header';
@import 'footer';
@import 'button';
@import 'portada';

* { 
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

body{
    background-color: black;
    font-family: $font-principal;
    p{
        font-size: 150%;
        font-weight: normal;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
    }
    ul{
        li{
            font-size: 150%;
            font-weight: normal;
            color: white;
        }
    }
}


$sizes:(h1: 5rem, h2: 4rem, h3: 3rem, h4: 2rem,);

@each $titulo, $size in $sizes {
    #{$titulo}{
        font-size: ($size);
        color: yellow;
        font-family: $font-principal;
    }
}

@mixin clases ($fondo, $color){
    background-color: $fondo;
    color: $color;
    font-size: 3rem;
    font-style: 'Bebas Neue', cursive;
    align-items: center;
}


.clases-a{
    @include clases (#34E92B, #FFFFFF);
}

.clases-b{
    @include clases (#DC0404, #FFFFFF);
}

.clases-c{
    @include clases (#3119FA, #FFFFFF)
}










